<div class="first">
    <div class="col-md-3 float-left mt-3 container"
     *ngFor='let investor of investors'>

        <div class="card">
            <img src="https://pixabay.com/static/img/profile_image_dummy.svg"
                style="width:100% ;height:1%">

            <h4>Name : {{investor.investorName}}</h4>
            <p class="title"></p>
            <div class="card-body">

                <p class="card-text">InvestorId : {{investor.id}}</p>
                <p class="card-text">emailId : {{investor.emailId}}</p>
                <p class="card-text">Url : {{investor.url}}</p>
                <p class="card-text">MaxInvest : {{investor.maxInvest}}</p>
                
            </div>
            <div class="card-footer">
                <div class="btn-group col-md-8">
                    <button class="btn btn-outline-success" (click)='modifyMaxStock(investor)'>
                        Update
                    </button>
                   
                </div>
            </div>
        </div>
    </div>
</div>
