
<div class="card w-75 text-center">
    <div class="card-header">
        <h4>About</h4>
    </div>
    <div class="card-body">
        <p class="card-text">
            The information and views in this website & all the services we provide are believed to be
            reliable, but we do not accept any responsibility (or liability) for errors of fact or opinion.
            Users have the right to choose the product/s that suits them the most. Investment in equity 
            shares has its own risks.Sincere efforts have been made to present the right investment perspective.
            Stock management is the practice of ordering, storing, tracking, and controlling inventory. 
            Debitoor invoicing software helps small businesses and freelancers keep track of company assets.
        </p>
    </div>
</div>
