<div class="alert alert-sucess" *ngIf='sucess'>{{sucess}}</div>
<div class="alert alert-danger" *ngIf='failure'>{{failure}}</div>

<div class="first">
    <div class="col-md-4 offset-md-4 mt-4">
        <form #AddInvestor='ngForm' (ngSubmit)='updatePassword(AddInvestor)'>
            <div class="card ">
                <div class="card-header">
                    Update Password
                </div>
                <div class="card-body">
                  
                  
                    
                    <div class="form-group">
                        <label for="password">New Password</label>
                        <input type="text" name="password" id="password" #password='ngModel' ngModel
                            class="form-control" required placeholder="Enter password" pattern="(?=.[a-z])(?=.[A-Z])(?=.[0-9])(?=.[$@$!%?&])[A-Za-z\d$@$!%?&].{7,}"
                           >
                        <div *ngIf='password.touched && password.invalid'>
                            <div class="alert alert-danger" *ngIf='password.errors.required'>
                                *This field is mandatory
                            </div>
                            
                            <div class="alert alert-danger" *ngIf='password.errors.pattern'>
                                *password Id allows numbers only
                            </div>
                        </div>
                    </div>

                    <button type="submit"  class="btn btn-primary float-right">Update Password</button>
                    
                </div>
            </div>
        </form>
    </div>
</div>