<div class="alert alert-success" *ngIf='success'>{{success}}</div>
<div class="alert alert-danger" *ngIf='failure'>{{failure}}</div>

<div class="first">
    <div class="container mt-3">
        <table class="table table-bordered table-hover">
            <thead class="bg-info">
                <tr>
                    <th>Stock Id</th>
                    <th>Company Id</th>
                    <th>Company Name</th>
                    <th>High Price</th>
                    <th>Low Price</th>
                    <th>Current Price</th>
                    <th>Volume</th>
                    <th>Available Stock</th>
                    <th>Delete</th>
                    <th>Update</th>

                </tr>
            </thead>

            <tbody>
                <tr *ngFor='let stock of stocks'>
                    <td>{{stock.id}}</td>
                    <td>{{stock.companyId}}</td>
                    <td>{{stock.companyName}}</td>
                    <td>{{stock.highPrice}}</td>
                    <td>{{stock.lowPrice}}</td>
                    <td>{{stock.currentPrice}}</td>
                    <td>{{stock.volume}}</td>
                    <td>{{stock.availableStocks}}</td>

                    <td><button class="btn btn-outline-primary" (click)='modifyStock(stock)'>Modify</button></td>

                    <td><button class="btn btn-outline-danger" (click)='deleteStock(stock)'>Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>