<header>
    <div class="overlay"></div>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source
            src="https://player.vimeo.com/external/183788521.sd.mp4?s=43c9874042ff2fbde6867111513a2cf6d6eef078&profile_id=164"
            type="video/mp4">
    </video>
    <div class="content" style="color: white;">
        <h1>We strive toward improvement</h1>
        <p><i class="fa fa-check" style="color:rgb(20, 121, 53);"></i> Unbeatable Strategy - Book Profit @
            10%, and Stock loss @ 3%</p>
        <p><i class="fa fa-check" style="color:rgb(20, 121, 53);"></i> Inquisitive
            Analysis – Eagle-eyed,
            In-depth reports and prognosis from Industry Veterans</p>
        <p><i class="fa fa-check" style="color:rgb(20, 121, 53);"></i> Confirmed Wealth – Trusted by more
            than thousands Investors across the globe</p>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="site-heading text-center">
                <h3><br>Our Services</h3>
                <h1>We Provide Total Business Solutions</h1>
                <h4>Business Analysts, Advisors, Researchers & Friends to Unleash your Fortune & explore your
                    Destiny. We are Resolute to make you prosper and help you accumulate Wealth by our Intensive,
                    Rationalized Research, Precise Forecast.<br> <br></h4>
            </div>
        </div>
    </div>

    <div class="card-deck">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title"><strong>1</strong></h5>
                <p class="card-text">We are - Trusted by more than thousands Investors World-Wide.</p>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title"><strong>2</strong></h5>
                <p class="card-text">Our Decisions are – Holistic & Merit-based to be a hit every time</p>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title"><strong>3</strong></h5>
                <p class="card-text"> Devoted, Committed, Competent, Professional & Hand-picked Business Analysts Team -
                    selected
                    from the Best Talent Pool available across the world.</p>
            </div>
        </div>

    </div>
    <div class="card-deck">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title"><strong>4</strong></h5>
                <p class="card-text"> Weekly & Monthly Analysis, Reports & Reviews</p>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title"><strong>5</strong></h5>
                <p class="card-text">24x7 Dedicated support – Telephonic, Online, via all Digital Media options.</p>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title"><strong>6</strong></h5>
                <p class="card-text">Weekly & Monthly Analysis, Reports & Reviews, Tips&Guidance – Trusted by Lakhs of
                    investors
                    and subscribers across the world.</p>
            </div>
        </div>
    </div>
    <div class="card-deck">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title"><strong>7</strong></h5>
                <p class="card-text">24x7 Dedicated support – Intime Telephonic updates by our executive (without a
                    miss), Online
                    information via all Digital Media options.</p>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title"><strong>8</strong></h5>
                <p class="card-text"> Systematic Success always pays, No Gimmick, No Magic, Research-based deep analysis
                    for
                    better insight and in-depth grip on market's futuristic moves.</p>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title"><strong>9</strong></h5>
                <p class="card-text">No one just trusts any Intermediary unless one has a
                    time-tested, proven track record of profound SUCCESS & DELIVERIES.</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="site-heading text-center" style="margin-bottom:0;">
                <h4>Systematic Success always pays, No Gimmick, No Magic, Research-based deep analysis for better
                    insight and in-depth grip on market's futuristic moves.</h4>
            </div>
        </div>
    </div>
</div>

<!-- Start Footer -->
<footer class="default-padding-top bg-light">
    <div class="container">
        <div class="row">
            <div class="f-items">
                <div class="col-md-6 item">
                    <div class="f-item about">
                        <h5>FollowUs</h5>
                        <ul>
                            <li>
                                <i class="fa fa-facebook"></i>
                            </li>
                            <li>
                                <i class="fa fa-google"></i>
                            </li>
                            <li>
                                <i class="fa fa-twitter"></i>
                            </li>
                            <li>
                                <i class="fa fa-pinterest"></i>
                            </li>
                            <li>
                                <i class="fa fa-dribbble"></i>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 equal-height item">
                    <div class="f-item twitter-widget"></div>
                    <div class="address">
                        <ul>
                            <li>
                                <div class="icon">
                                    <i class="fa fa-home"></i>
                                </div>
                                <div class="info">
                                    <h5>Website:</h5>
                                    <span>www.stockmanagement.com</span>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <i class="fa fa-envelope"></i>
                                </div>
                                <div class="info">
                                    <h5>Email:</h5>
                                    <span>stockmanagement@gmail.com</span>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <i class="fa fa-phone"></i>
                                </div>
                                <div class="info">
                                    <h5>Phone:</h5>
                                    <span>+91-9999911111</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Start Footer Bottom -->
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <p>&copy; Copyright 2020. All Rights Reserved by Stock Management</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer Bottom -->
</footer>
<!-- End Footer -->